<div id="dz-tpl-preview" style="display: none;">
    <div class="dz-preview dz-file-preview well">
        <div class="dz-image"><img src="" alt="" data-dz-thumbnail></div>
    </div>
</div>

<div id="dz-tpl-empty-preview" style="display: none;">
    <div class="dz-preview dz-file-preview well"></div>
</div>
