/* RESET CSS */
@import "https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
textarea,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
header,
figure,
footer,
main,
figcaption,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
body {
  line-height: 100%;
  height: 100%;
}
body u {
  text-decoration: underline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  clear: both;
}
/* FILE NAVIGATION */
#file-nav {
  position: fixed;
  bottom: 0;
  padding: 5px;
  background: #E25252;
  z-index: 1000;
  color: white;
  height: 100%;
  width: 200px;
  border-right: solid 2px white;
  left: -200px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -ms-transition: all 100ms;
  transition: all 100ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#file-nav.active {
  left: 0;
}
#file-nav a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  letter-spacing: 2px;
  font-size: 10px;
  text-transform: uppercase;
}
#file-nav a:hover {
  opacity: 0.7;
}
#file-nav div {
  padding-top: 10px;
}
#file-nav #file-nav-toggle {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 40px;
  padding: 0 0 0 7px;
  font-weight: 800;
  line-height: 32px;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -o-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  left: 197px;
  background: #E25252;
  border: solid 2px white;
  border-left: solid 2px #E25252;
  font-size: 18px;
}
#file-nav #file-nav-toggle:hover {
  opacity: 1;
}
#file-nav a {
  color: white;
  margin-right: 10px;
}
/* MARGIN */
/* DISPLAY*/
.block {
  display: block;
}
.inline {
  display: inline !lteIE7;
  display: inline-block;
}
.none {
  display: none;
}
.flex-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
/* POSITION */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
/* SHADOW */
.shadow {
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.35);
}
.shadow-none {
  -webkit-box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0);
}
.shadow-white {
  -webkit-box-shadow: 1px 1px 1px 1px #ffffff;
  box-shadow: 1px 1px 1px 1px #ffffff;
}
.shadow-inset {
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.text-shadow {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.text-shadow-none {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  filter: dropshadow(color=#000000, offx=0, offy=0);
}
.text-shadow-inset {
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1), 0px -1px 0px rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=#ffffff, offx=1, offy=0);
}
.text-shadow-white {
  text-shadow: 1.5px 1.5px 1px #ffffff;
  filter: dropshadow(color=#ffffff, offx=1, offy=0);
}
.text-shadow-white-2 {
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
  filter: dropshadow(color=#ffffff, offx=1, offy=0);
}
/* ANIMATION */
/* BORDER RADIUS */
/* COLOR */
/* RESPONSIVE */
/* ICON */
.cover-it {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.br {
  border: solid 1px red;
}
input.radio,
input.check {
  opacity: 0;
  height: 24px;
  width: 24px;
  display: inline-block;
  clear: left;
  float: left;
  position: relative;
  z-index: 100;
}
input.radio:hover,
input.check:hover {
  cursor: pointer;
}
input.radio + label {
  background: url("../img/icon-radio.png") no-repeat scroll 0 0;
  clear: none;
  display: block;
  height: 24px;
  margin: 3px;
  position: absolute;
  width: 24px;
}
input.check + label {
  background: url("../img/icon-check.png") no-repeat scroll 0 0;
  clear: none;
  display: block;
  height: 24px;
  margin: 3px;
  position: absolute;
  width: 24px;
}
input.radio:hover + label,
input.check:hover + label {
  background-position: -24px 0;
}
input.radio:checked + label,
input.check:checked + label {
  background-position: -48px 0;
}
input.radio:disabled + label,
input.check:disabled + label {
  background-position: -72px 0;
}
/* FLOAT */
.left-side {
  float: left;
}
.right-side {
  float: right;
}
/* FONTS */
/* CONTAINER */
.container {
  width: 1170px;
  margin: 0 auto 0 auto;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row-container {
  margin: 0 -15px;
}
.row-container::after,
.row-container::before {
  display: table;
  content: ' ';
  clear: both;
}
@media screen and (max-width: 768px) {
  .row-container {
    margin: 0 -10px;
  }
}
.dcol1,
.dcol2,
.dcol3,
.dcol4,
.dcol5,
.dcol6,
.dcol7,
.dcol8,
.dcol9,
.dcol10,
.dcol11,
.dcol12,
.tcol1,
.tcol2,
.tcol3,
.tcol4,
.tcol5,
.tcol6,
.tcol7,
.tcol8,
.tcol9,
.tcol10,
.tcol11,
.tcol12,
.mcol1,
.mcol2,
.mcol3,
.mcol4,
.mcol5,
.mcol6,
.mcol7,
.mcol8,
.mcol9,
.mcol10,
.mcol11,
.mcol12 {
  padding: 0 15px;
  float: left;
}
@media screen and (max-width: 768px) {
  .dcol1,
  .dcol2,
  .dcol3,
  .dcol4,
  .dcol5,
  .dcol6,
  .dcol7,
  .dcol8,
  .dcol9,
  .dcol10,
  .dcol11,
  .dcol12,
  .tcol1,
  .tcol2,
  .tcol3,
  .tcol4,
  .tcol5,
  .tcol6,
  .tcol7,
  .tcol8,
  .tcol9,
  .tcol10,
  .tcol11,
  .tcol12,
  .mcol1,
  .mcol2,
  .mcol3,
  .mcol4,
  .mcol5,
  .mcol6,
  .mcol7,
  .mcol8,
  .mcol9,
  .mcol10,
  .mcol11,
  .mcol12 {
    padding: 0 10px;
  }
}
.dcol1 {
  width: 8.3%;
}
.dcol2 {
  width: 16.6%;
}
.dcol3 {
  width: 25%;
}
.dcol4 {
  width: 33.3%;
}
.dcol5 {
  width: 41.6%;
}
.dcol6 {
  width: 50%;
}
.dcol7 {
  width: 58.3%;
}
.dcol8 {
  width: 66.6%;
}
.dcol9 {
  width: 75%;
}
.dcol10 {
  width: 83.3%;
}
.dcol11 {
  width: 91.6%;
}
.dcol12 {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .tcol1 {
    width: 8.3%;
  }
  .tcol2 {
    width: 16.6%;
  }
  .tcol3 {
    width: 25%;
  }
  .tcol4 {
    width: 33.3%;
  }
  .tcol5 {
    width: 41.6%;
  }
  .tcol6 {
    width: 50%;
  }
  .tcol7 {
    width: 58.3%;
  }
  .tcol8 {
    width: 66.6%;
  }
  .tcol9 {
    width: 75%;
  }
  .tcol10 {
    width: 83.3%;
  }
  .tcol11 {
    width: 91.6%;
  }
  .tcol12 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .mcol1 {
    width: 8.3%;
  }
  .mcol2 {
    width: 16.6%;
  }
  .mcol3 {
    width: 25%;
  }
  .mdcol4 {
    width: 33.3%;
  }
  .mcol5 {
    width: 41.6%;
  }
  .mcol6 {
    width: 50%;
  }
  .mcol7 {
    width: 58.3%;
  }
  .mcol8 {
    width: 66.6%;
  }
  .mcol9 {
    width: 75%;
  }
  .mcol10 {
    width: 83.3%;
  }
  .mcol11 {
    width: 91.6%;
  }
  .mcol12 {
    width: 100%;
  }
}
.cycle-slideshow {
  width: 100%;
}
.cycle-slideshow img {
  width: 100% !important;
}
body,
html {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F3F3F3;
  height: 100%;
}
#top-wrapper {
  margin-bottom: 0px;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}
.push {
  height: 0px;
}
/*HEADER*/
/*BANNER*/
/*MIDDLE*/
/*FOOTER*/
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.popup .popup-wrapper {
  position: relative;
}
/*POPUP*/
@-moz-keyframes mouse {
0% {
  opacity: 0;
  top: 3px;
}
10% {
  opacity: 0.7;
  top: 3px;
}
70% {
  opacity: 0.7;
  top: 20px;
}
80% {
  opacity: 0;
  top: 20px;
}
100% {
  opacity: 0;
  top: 0;
}
}
@-webkit-keyframes mouse {
0% {
  opacity: 0;
  top: 3px;
}
10% {
  opacity: 0.7;
  top: 3px;
}
70% {
  opacity: 0.7;
  top: 20px;
}
80% {
  opacity: 0;
  top: 20px;
}
100% {
  opacity: 0;
  top: 0;
}
}
@-o-keyframes mouse {
0% {
  opacity: 0;
  top: 3px;
}
10% {
  opacity: 0.7;
  top: 3px;
}
70% {
  opacity: 0.7;
  top: 20px;
}
80% {
  opacity: 0;
  top: 20px;
}
100% {
  opacity: 0;
  top: 0;
}
}
@-ms-keyframes mouse {
0% {
  opacity: 0;
  top: 3px;
}
10% {
  opacity: 0.7;
  top: 3px;
}
70% {
  opacity: 0.7;
  top: 20px;
}
80% {
  opacity: 0;
  top: 20px;
}
100% {
  opacity: 0;
  top: 0;
}
}
@keyframes mouse {
0% {
  opacity: 0;
  top: 3px;
}
10% {
  opacity: 0.7;
  top: 3px;
}
70% {
  opacity: 0.7;
  top: 20px;
}
80% {
  opacity: 0;
  top: 20px;
}
100% {
  opacity: 0;
  top: 0;
}
}
.mouse:after {
  -moz-animation: mouse 2s infinite ease-out;
  -webkit-animation: mouse 2s infinite ease-out;
  -o-animation: mouse 2s infinite ease-out;
  -ms-animation: mouse 2s infinite ease-out;
  animation: mouse 3s infinite ease-out;
}
