<!DOCTYPE html>
<html lang="id">
    <head>
        <title>Email Template</title>
        <style type="text/css">
            .email{
                font-family: sans-serif;
                line-height: 140%;
                font-size: 12px;
                padding: 0 15px;
            }
            .logo{
                display: block;
                /* margin: 30px auto; */
                width: 100px;
            }
            p{
                text-align: justify;
                line-height: 170%;
            }
            h1,h2,h3,p{
                margin-bottom: 10px;
            }
            h1{
                font-size: 32px;
                text-align: center;
            }
            h2{
                font-size: 20px;
            }
            h3{
                font-size: 16px;
            }
            li{
                margin: 0 0 10px 15px;
                padding-left: 10px;
            }
            ul,ol{
                margin-bottom: 20px;
            }
            ul li{
                list-style: disc;
            }
            ol li{
                list-style: decimal;
            }
            footer {
                background: #f8f8f8;
                padding: 20px 15px 10px;
                text-align: center;
                margin-top: 30px;
            }
            footer a{
                font-weight: 600;
                color: #2F64AF;
            }
            footer a:hover{
                color: #25518B;
            }
            footer p{
                text-align: center;
            }
            footer .social-btn{
                margin: 10px 0;
            }
            footer .social-btn a{
                margin: 0 10px;
            }
            hr{
                margin: 20px 0;
                border: none;
                border-bottom: solid 1px #d3d3d3;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <main class="email">
            <section>
                {# <img src="{{ site_url('dist/img/balimall.png') }}" class="logo" alt="Logo"> #}
                {% block body %}{% endblock %}
            </section>
            <footer>
                <div class="social-email">
                    {{ 'label.find_us'|trans }}
                    <div class="social-btn">
                        <a href="https://www.facebook.com" target="_blank">Facebook</a>
                        <a href="https://twitter.com" target="_blank">Twitter</a>
                        <a href="https://www.instagram.com" target="_blank">Instagram</a>
                    </div>
                </div>
                <p>{{ 'label.copyrights'|trans }} &copy; 2020 {{ get_parameter('app_name') }}</p>
            </footer>
        </main>
    </body>
</html>
