<div id="dz-tpl-preview">
    <div class="dz-preview dz-file-preview well">
        <div class="dz-image"><img src="" alt="" data-dz-thumbnail></div>
    </div>
</div>

<div id="dz-tpl-empty-preview">
    <div class="dz-preview dz-file-preview well"></div>
</div>
