{% extends '@__main__/public/base/layouts/default.html.twig' %}

{% block content %}
    <main class="nothing-page">
        <section>
            <div class="container">
                <div class="row">
                    <div class="dc6 mc12 auto">
                        <div class="box login-wrapper">
                            <h1 class="ct">{{ 'title.register'|trans }}</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    
{% endblock %}
