<div style="background-color: #f8ccc1; padding: 15px;">
    <h5>
        <span style="color: #ffb400;margin-right: 5px;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
        PERHATIAN
    </h5>
    <p>Mohon perhatikan dan siapkan Informasi berikut sebelum melakukan Konfirmasi Pengiriman :</p>
    <ul>
        <li>
            <b>1) Jika Pengiriman Dilakukan Oleh Kurir (Ekspedisi)</b>
            
        </li>
        <li style="padding-left: 30px;">
            <ul>
                <li>a. Nomor Resi Pengiriman</li>
                <li>b. Foto Resi Pengiriman</li>
            </ul>
        </li>
        <li><b>2) Jika Pengiriman Dilakukan Oleh Merchant Secara Mandiri (Tanpa Menggunakan Kurir)</b></li>
        <li style="padding-left: 30px;">
            <ul>
                <li>a. Nama Penerima</li>
                <li>b. Jabatan/Posisi Penerima</li>
                <li>c. No HP Penerima</li>
                <li>d. Foto Penerimaan Produk :</li>
                <li style="padding-left: 30px;">
                    <ul>
                        <li>
                            <p>1. Foto Yang Menggambarkan Detail Produk Yang Dikirim</p>
						    <img src="{{ asset('dist/img/pengiriman-1.jpg') }}" height="150px" alt="">
                        </li>
                        <li>
                            <p>2. Foto Yang Menggambarkan Jumlah Produk Yang Dikirim</p>
						    <img src="{{ asset('dist/img/pengiriman-2.jpg') }}" height="150px" alt="">
                        </li>
                        <li>
                            <p>3. Foto Penerima Saat Menerima Produk</p>
						    <img src="{{ asset('dist/img/pengiriman-3.jpg') }}" height="150px" alt="">
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>