<template id="template-item-image">
    <figure>
        <a href="**url**" class="cbox-gallery">
            <img class="img-responsive" src="**url**" alt="">
        </a>
        <a class="pull-right btn-box-tool grid-item-delete" data-id="**id**" data-path="**path_name**">
            <i class="fa fa-times"></i>
        </a>
        <input type="hidden" name="p_imagesTmp[filePath][]" value="**path_name**">
        <input type="hidden" name="p_imagesTmp[fileName][]" value="**file_name**">
        <input type="hidden" name="p_imagesTmp[fileMimeType][]" value="**file_mime**">
    </figure>
</template>
