{% extends '@__main__/public/base/layouts/email.html.twig' %}

{% block body %}
    <div class="text">
        <h1>Hi, {{ name }}!</h1>
        <h3>Lupa kata sandi Anda?</h3>
        <p>
            Berikut tautan yang bisa Anda gunakan untuk proses pemulihan kata sandi: <a href="{{ link }}" target="_blank">Pulihkan Kata Sandi</a>
        </p>
    </div>
{% endblock %}
