{% extends '@__main__/public/base/layouts/email.html.twig' %}

{% block body %}
    <div class="text">
        <h1>Hi, Admin!</h1>
        <h3>Bali Mall baru saja memperoleh pendaftaran toko baru.</h3>
        <p>
            Gunakan tautan berikut untuk melihat detail terkait: <a href="{{ link }}" target="_blank">Detail Toko</a>
        </p>
    </div>
{% endblock %}
