{% extends '@__main__/public/base/layouts/email.html.twig' %}

{% block body %}
    <div class="text">
        <h1>Hi, {{ name }}!</h1>
        <h3>Pesanan dengan no invoice {{ invoice }} telah diterima oleh pembeli.</h3>
        <p>
            Gunakan tautan berikut untuk melihat riwayat pesanan: <a href="{{ link }}" target="_blank">Riwayat Transaksi</a>
        </p>
    </div>
{% endblock %}
