{% extends '@__main__/public/base/layouts/email.html.twig' %}

{% block body %}
    <div class="text">
        <h1>Hi, {{ name }}!</h1>
        <h3>Silahkan aktivasi akun Anda.</h3>
        <p>
            Berikut tautan yang bisa Anda gunakan untuk proses aktivasi akun: <a href="{{ link }}">Aktivasi</a>
        </p>
    </div>
{% endblock %}
